/* fznd ling formatacao */

/* variaveis do design system */
:root {
    --primary-color: aquamarine;
    --primary-hover: rgb(177, 228, 211) ;
    --bg-color: rgb(213, 238, 238);
    --text-color: rgb(31, 32, 32);
    --white: #fffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px;
    --radius: 8px;
    --font-main
}

/* reset basico */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


} */

body{
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* header */
.project__header h1 {

}

/* estilixacao bnts (input e btn dinamico) */
.project__button-group input[type="button"],
button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--radius);
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;

}

.project__button-group input[type="button"]:hover,
button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);

}

