/* variaveis do design system */
:root {
    --primary-color: aquamarine;
    --primary-hover: rgb(177, 228, 211) ;
    --bg-color: rgb(213, 238, 238);
    --text-color: rgb(31, 32, 32);
    --white: #fffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px;
    --radius: 8px;
    --font-main
}

/* reset basico */
* {

}